* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

body {
	font: 14px/1.5 sans-serif;
	color: #fff;
}

#app {
	position: relative;
	width: 960px;
	margin: 64px auto;
	background: #252525;
	overflow: hidden;
}

.extra {
    position: absolute;
    text-align: center;
    right: 400px;
    top: 16px;
    font-size: 12px;
}

.extra>div {
	margin-top: 4px;
}

/*.extra .position {
	font-size: 20px;
}
*/
.extra .city {
	vertical-align: middle;
}


.today {
	position: relative;
	display: flex;
	height: 250px;
	border: solid 1px #000;
	margin-bottom: 20px;
}

.today .overview {
	display: flex;
	flex:6;
	flex-direction: column;
	align-items: center;
    border-right: solid 1px #000;
}

.today .overview>div:first-child {
	display: flex;
	align-items: center;
}

.today .overview .weather-pic {
	width: 160px;
	height: 160px;
}

.today .overview .weather-pic img {
	width: 100%;
	height: 100%;
}

.today .overview .temprature {
	font-size: 60px;
}

.today .overview .description {
	font-size: 50px;
	color: #6adbeb;
}

.today .detail {
	position: absolute;
    text-align: center;
    left: 370px;
    bottom: 32px;
    font-size: 12px;
    color: #6adbeb;
}

.detail>div {
	margin-top: 4px
}

.today .lifestyle {
	flex: 4;
	padding: 10px 0 10px 0;
}

.today .lifestyle .tabs-group {
	display: flex;
	font-size: 11px;
}

.today .lifestyle .tab {
	flex: 1;
	display: flex;
    justify-content: center;
	border-bottom: 15px solid #1d73c5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
}

.today .lifestyle .tab>span {
	position: absolute;

}

.today .lifestyle .tab.active {
	border-bottom-color: #262626;
}


.today .lifestyle .panels-group {
	flex:1;
	padding: 20px;
}

.today .lifestyle .panel {
	display: none;
}

.today .lifestyle .panel.active {
	display: block;
}

.forecast {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 16px;
}

.forecast>li>div {
	margin-bottom: 8px;
}

.forecast .day {
	color: #6adbeb;
	padding: 8px;
	border-bottom: solid 1px #6adbeb;
}

.forecast .high-temperature {
	font-weight: bold;
	
}

.forecast .low-temperature {
	color: #999;
}

.forecast .weather-pic {
	width: 80px;
}

.forecast .weather-pic img {
	width: 100%;
}




