* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


body {
	position: relative;
	font: 14px/1.5 sans-serif;
	color: #333;
}


.ct {
	position: relative;
	max-width: 960px;
	margin: 30px auto;
}

.ct .item {
	position: absolute;
	width: 300px;
	padding: 8px;
	margin: 10px;
	border: solid 1px #ddd;
	background: #fff;
	transition: all .8s;
}

.ct .item .cover img{
	width: 100%;
}

.ct .item .title {
	margin-top: 10px;
	font-size: 16px;
}

.ct .item .intro {
	margin-top: 10px;
}

.ct .item .meta {
	margin-top: 10px;
	font-size: 12px;
	color: #ccc;
}

.ct .item .meta:after {
	content: '';
	display: block;
	clear: both;
}

.ct .item .meta div:first-child {
	float: left;
}

.ct .item .meta div:last-child {
	float: right;
}

.loading {
	position: relative;
    left: calc(50% - 12px);
    display: inline-block;
    width: 24px;
    height: 24px;
    border: solid 1px #747474;
    border-radius: 50%;
    border-left: none;
    margin-top: 10px;
    animation: rorate .4s infinite;
}

@keyframes rorate{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}